.main {
    background-color: #5e646e;
    background-image: none;
}
.card-header {
    display: flex;

    color: #4c7cfe;
    background-color: #363a40 !important;

    align-items: center;
    justify-content: center;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-image img {
    width: 100%;
    height: 100%;
}
.card-horizontal {
    display: flex;

    flex: 1 1 auto;
}
.card-button {
    margin-bottom: 10px;
}
.card-updated {
    margin-top: auto;

    text-align: center;
}
