{% load static %}
<html>
	<!-- Navbar -->
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/project_detail.css' %}">
		{% block content %}
			<!-- contains navbar and contact modal or dialog-->
			{% include 'mainpage/navbar.html' %}
		{% endblock %}
	</head>
	
	<!-- Projects -->
	<body class="main">
		{% block page_content %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 mt-3">
						<div class="card border-0">
							<div class="card-horizontal">
								<div class="card-header">
									<h2>
									{{ project.title }}
									</h2>
								</div>
								<div class="card-image">
									<img class="img-responsive" src="{% static project.image %}" style="max-width:750px;">
								</div>
								<div class="card-body">
									<h5 class="card-text">About the project:</h5>
									<p class="card-text">{{ project.short_description }}</p>
									<h5 class="card-text">Technologies used:</h5>
									<p class="card-text">{{ project.technology }}</p>
									<h5 class="card-text">Database used:</h5>
									<p class="card-text">{{ project.database }}</p>
									<h5 class="card-text">View Code in Detail & Photos:</h5>
									<a href="{{ project.github_link }}" target="_blank">{{ project.github_link }}</a>
									<p class="card-text"></p> <!--empty space-->
									<div class="card-updated">
										<div class="card-button">
											<a href="/#projects" class="btn btn-primary btn-lg btn-block">View Others</a>
										</div>
										<p><small class="text-muted">Last updated April 2020</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>