{% load static %}
<html>
	<!-- Navbar -->
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/project_detail.css' %}">
		{% block content %}
			<!-- contains navbar and contact modal or dialog-->
			{% include 'mainpage/navbar.html' %}
		{% endblock %}
	</head>
	
	<!-- Projects -->
	<body class="main">
		{% block page_content %}
			<div class="card mb-3 border-primary">
				<div class="card-header">
					<h2>
					{{ project.title }}
					</h2>
				</div>
				<img class="card-img-top" src="{% static project.image %}" alt="Card image cap">
				<div class="card-body border-0">
					<h5 class="card-text">About the project:</h5>
					<p class="card-text">{{ project.short_description }}</p>
					<h5 class="card-text">Technologies used:</h5>
					<p class="card-text">{{ project.technology }}</p>
					<h5 class="card-text">Database used:</h5>
					<p class="card-text">{{ project.database }}</p>
					<h5 class="card-text">Code link:</h5>
					<a href="{{ project.github_link }}" target="_blank">{{ project.github_link }}</a>
					<p class="card-text"></p> <!--empty space-->
					<a href="/#projects" class="btn btn-primary btn-lg btn-block">View Others</a>
					<div class="card-updated">
						<p><small class="text-muted">Last updated April 2020</small></p>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>